@import "LandingPage/skills-section.css";
@import "LandingPage/hero-section.css";
@import "LandingPage/about-me-section.css";
@import "LandingPage/project-section.css";
@import "LandingPage/contact-section.css";

/* Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @font-face {
    font-family: "Helvetica";
    src: url(Helvetica-Font/Helvetica.ttf);
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden-section {
    opacity: 0;
    transition: all 0.5s;
}

.show-section {
    opacity: 1;
}

@media (prefers-reduced-motion) {
    .hidden-section {
        transition: none;
    }
}

body {
    font-family: "Montserrat", Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 4.5em;
    padding: 0 6.25rem;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 3;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(0%) sepia(89%) saturate(7500%) hue-rotate(200deg) brightness(110%) contrast(110%);
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin-left: 10px;
}

.nav ul {
    gap: 1.5rem;
    display: flex;
    font-size: .875rem;
    align-items: center;
    list-style-type: none;
}

.nav .nav-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 10px 0;
    cursor: pointer;
}

.nav .nav-link:hover {
    border-bottom: 4px solid rgb(0, 0, 0);
}

.fa-bars-staggered, .fa-xmark {
    font-size: 1.5rem;
    padding: 8px 8px; 
}

.nav .contact-button {
    background-color: black;
    padding: 12px 14px;
    color: white;
    border-radius: 10px;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    cursor: pointer;
}

.nav .contact-button:hover {
    background-color: #505050;
}

.fa-xmark.hide {
    display: none;
}


.menu .fa-bars-staggered, .menu .fa-xmark {
    display: none;
}

/* footer */
footer {
    padding: 0 6.25rem;
    margin-bottom: 20px;
}

.f-contents {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


.f-header {
    font-size: 1.5rem;
    font-family: "Montserrat", Arial, sans-serif;
    margin-bottom: 1rem;
    font-weight: bold;
}

.f-sub-header {
    line-height: 1.4;
}

.f-sub-header, .copyright {
    font-size: 1rem;
    margin-bottom: .875rem;
    color: #505050;
}

.f-email {
    color: #505050;
}

.f-email span {
    margin-left: 8px;
    font-weight: bold;
    color: #232b2b;
    letter-spacing: .1rem;
}


.f-section ul {
    list-style-type: none;
}

.f-section li a {
    text-decoration: none;
    color: #505050;
}

.f-section li {
    margin-bottom: .5rem;
    font-size: 1rem;
}

.f-section li a:hover {
    color: black;
    border-bottom: 2px solid black;
}

.f-section li a i {
    margin-right: 10px;
    font-size: 1.25rem;
}

.copyright {
    margin-top: 1.125rem;
}


/* for larger screens */

@media screen and (min-width: 1460px) {
    .header, .hero, .about-me-section, .skills-section, .project-section, .contact-section, footer {
        padding: 0 100px;
    }
    
}

@media screen and (min-width: 1520px) {
    .header, .hero, .about-me-section, .skills-section, .project-section, .contact-section, footer {
        padding: 0 200px;
    }
    
}

@media screen and (min-width: 1820px) {
    .header, .hero, .about-me-section, .skills-section, .project-section, .contact-section, footer {
        padding: 0 300px;
    }
    
}


@media screen and (max-width: 1200px){
    .header {
        padding: 0 2.5rem;
    }

    .close-icon {
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 1.5rem;
        margin-bottom: 100px;
    }

    .fa-xmark {
        color: white;
    }

    .nav.hide-nav {
        display: none;
    }

    .nav.show-nav {
        display: block;
    }

    .nav ul{
        display: block;
        position: absolute;
        height: 100vh;
        background-color: rgb(39, 38, 38, 0.9);
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    .nav a {
        color: white;
        width: 100%;
    }

    .nav a:hover {
        border-bottom: 4px solid rgb(255, 255, 255);
    }
    
    .nav ul li {
        font-size: 1.25rem;
        padding: 14px;
        text-align: center;
    }


    .fa-bars-staggered.show {
        display: block;
    }

    .fa-xmark.hide {
        display: none;
    }
    
    .fa-bars-staggered.hide {
        display: none;
    }

    .fa-xmark.show {
        display: block;
        z-index: 1;
    }

    /* hero section */
    .hero, .about-me-section, .skills-section, .project-section, .contact-section, footer {
        padding: 0 2.5rem;
    }

    .banner {
        margin-top: 300px;
    }

    .title {
        font-size: 2.5rem;
    }
    
    .sub-title {
        font-size: 1rem;
    }

    .profile img {
        right: 0;
        top: -180px;
    }

    .title-txt {
        font-size: 2.5rem;
    }


    .about-me-section {
        gap: 40px;
    }

    .about-desc {
        font-size: 1rem;
    }

    .about-me-section img {
        width: 400px;
        height: 500px;
    }

    /* skills section */
    .dt-title {
        font-size: 1.25rem;
    }

    .dt-title i {
        font-size: 1.25rem;
        margin-right: 10px;
    }

    .skill-list {
        font-size: 1rem;
    }

    .projects {
        display: block;
    }

    .project {
        width: 100%;
        margin-bottom: .875rem;
    }

    /* contact section */
    .form-desc {
        text-align: left;
    }


    .sub-text {
        font-size: 1rem;
    }

    .inputs p {
        font-size: .875rem;
    }
    
    input, textarea {
        font-size: 1rem;
    }

    /* footer section */
    .f-contents {
        flex-wrap: wrap;
        gap: 18px;
        margin-top: 40px;
    }
    .f-header {
        font-size: 1.25rem;
    }



    .f-section {
        flex-grow: 1;
        font-size: 1rem;
    }

    .f-section li {
        margin-bottom: .875rem;
    }
 
}

@media screen and (max-width: 760px) {
    .header,.hero, .about-me-section, .skills-section, .project-section, .contact-section, footer {
        padding: 0 1.5rem;

    }

    .banner {
        margin-top: 320px;
        width: 100%;
    }

    .profile img {
        left: 0;
        right: 0;
        width: 100%;
        height: 920px;
        opacity: .8;

    }

    .about-me-section {
        display: block;
    }

    .about-me-section img {
        width: 100%;
        margin-top: .875rem;
    }

    .about-me-section .contents {
        width: 100%;
    }

    .proj-contents {
        padding: 48px 40px;
    }

    .proj-title {
        width: 80%;
    }

    .submitBtn {
        font-size: .875rem;
    }
}

/* small phone screen */
@media screen and (max-width: 460px) {
    /* hero section */
    .header,.hero, .about-me-section, .skills-section, .project-section, .contact-section {
        padding: 0 1.5rem;
        margin-bottom: 100px;
    }

    .logo img {
        height: 48px;
        width: 48px;
    }

    .logo a {
        font-size: 1.25rem;
    }

    .footer {
        padding: 0 0.5rem;
        margin-bottom: 40px;
    }

    .banner {
        margin-top: 340px;
        width: 100%;
    }

    .title {
        font-size: 2rem;    
    }

    .profile img {
        width: 100%;
        left: 0;
        right: 0;
        top: -120px;
        height: 880px;
        opacity: .8;
        object-fit: cover;
    }

    .proj-contents {
        padding: 40px;
    }

    .proj-title {
        width: 100%;
    }

    
}